<ion-header>
  <ion-toolbar>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">New Password</ion-label>
        <ion-input
          type="password"
          formControlName="newPassword"
          [ngClass]="{
            'is-invalid': resetPasswordForm.get('newPassword')?.touched && resetPasswordForm.get('newPassword')?.invalid
          }"
        ></ion-input>
      </ion-item>
      <div *ngIf="resetPasswordForm.get('newPassword')?.touched && resetPasswordForm.get('newPassword')?.invalid" class="error-message">
        <p *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">New Password is required.</p>
        <p *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength']">New Password must be at least 6 characters long.</p>
      </div>
    </ion-list>

    <ion-button expand="full" type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</ion-button>

    <div *ngIf="errorMessage" class="error-message">
      <p>{{ errorMessage }}</p>
    </div>
  </form>
</ion-content>

<style>
  .error-message {
    color: red;
    margin-left: 15px;
  }
  .is-invalid {
    border-color: red;
  }
</style>
