<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          type="email"
          formControlName="email"
          [ngClass]="{
            'is-invalid': forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid
          }"
        ></ion-input>
      </ion-item>
      <div *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid" class="error-message">
        <p *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required.</p>
        <p *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Please enter a valid email address.</p>
      </div>
    </ion-list>

    <ion-button expand="full" type="submit" [disabled]="forgotPasswordForm.invalid">Send Reset Link</ion-button>
  </form>

  <ion-alert
    *ngIf="errorMessage"
    [message]="errorMessage"
    buttons="OK"
  ></ion-alert>
</ion-content>

<style>
  .error-message {
    color: red;
    margin-left: 15px;
  }
  .is-invalid {
    border-color: red;
  }
</style>
