<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email" required></ion-input>
      </ion-item>
      <ion-note *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched" color="danger">
        Email is required
      </ion-note>
      <ion-note *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched" color="danger">
        Enter a valid email
      </ion-note>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [type]="passwordType" formControlName="password" required></ion-input>
        <ion-button fill="clear" slot="end" (click)="togglePasswordVisibility()">
          <ion-icon [name]="passwordToggleIcon"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-note *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched" color="danger">
        Password is required
      </ion-note>
      <ion-note *ngIf="registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.touched" color="danger">
        Password must be at least 6 characters
      </ion-note>
    </ion-list>

    <ion-button type="submit" [disabled]="registerForm.invalid" expand="block" class="ion-margin-top custom-button">Register</ion-button>
  </form>

  <div class="redirect-link ion-text-center ion-margin-top">
    <p>Already have an account? <a routerLink="/login">Login</a></p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title size="small" class="ion-text-center">© Your App Name</ion-title>
  </ion-toolbar>
</ion-footer>
