<ion-header>
  <ion-toolbar>
    <ion-title>Create Commerce</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" color="primary">
        <ion-label>Cancel</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Display the business owner image -->
  <ion-item *ngIf="commerceImage">
    <ion-img [src]="commerceImage" alt="Business Owner Image"></ion-img>
  </ion-item>


  <form [formGroup]="commerceForm">
    <ion-item>
      <ion-label position="stacked">Commerce name</ion-label>
      <ion-input formControlName="commerce_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Ville</ion-label>
      <ion-select formControlName="ville_name">
        <ion-select-option *ngFor="let ville of villes" [value]="ville.ville_name">{{ ville.ville_name }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Services</ion-label>
      <ion-textarea formControlName="services"></ion-textarea>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Image</ion-label>
      <ion-input formControlName="image_commerce" readonly></ion-input>
      <ion-button (click)="selectImage()" slot="end">
        <ion-icon name="camera"></ion-icon>
      </ion-button>
    </ion-item>
    
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button 
      expand="full" 
      color="secondary" 
      (click)="submitForm()"
    >
      Create commerce
    </ion-button>
  </ion-toolbar>
</ion-footer>
