<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()" color="primary">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Create Category</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSubmit()" color="primary">Update</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Card for Displaying Selected Category Image -->
  <ion-card *ngIf="categoryImage">
    <ion-card-header>
      <ion-card-title>Category Image</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Display selected image preview -->
      <img
        [src]="categoryImage"
        alt="Category Image"
        style="width: 100%; height: auto"
      />
    </ion-card-content>
  </ion-card>

  <!-- Reactive Form Section -->
  <ion-card>
    
    <ion-card-content>
      <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input formControlName="category_name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Image</ion-label>
          <ion-input formControlName="image_category" readonly></ion-input>
          <ion-button (click)="selectImage()" slot="end">
            <ion-icon name="camera"></ion-icon>
          </ion-button>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button 
      expand="full" 
      color="danger" 
      (click)="onDeleteCategory(categoryId, commerceId)"
    >
      Delete Category
    </ion-button>
  </ion-toolbar>
</ion-footer>


